/* global */
body {
	color: #676767;
}
button:hover {
	font-weight: bold;
}

/* nav */
.navbar a[href]:hover {
	font-weight: bold;
}
.navbar .userProfile{
	width: 8em;
	min-width: 8em !important;
}
.dropdown-menu {
	color: #676767;
}