label[for] {
	font-size: 1.2em;
}
input[placeholder]{
	height:4em;
	/* border: 2px solid #1E90FF; */
}
.form-check-input {
	height: 1em;
	width: 1em;
}
.btn-block {
	height: 3em;
	font-size: 1.5em;
	background-color: #1E90FF;
}
.annotation {
	font-size: 1.2em;
}