.registry .nav-link {
	font-size: 2em;
	color: #676767;
}
.registry .nav-item .active {
	color: #1E90FF;
}
.registry a[href]:hover {
	/* font-weight: bold; */
	color: #367dc9;
}
label[for] {
	font-size: 1.2em;
}
input[placeholder]{
	height:4em;
}
.form-check-input {
	height: 1em;
	width: 1em;
}
.tab-content > span {
	font-size: 1em;
}
.btn-block {
	height: 3em;
	font-size: 1.5em;
	background-color: #1E90FF;
}

.annotation {
	font-size: 1.2em;
}

.title {
	font-size: 1.5em;
	color: #1E90FF;
}
.content {
	color: #676767;
}