.carousel-item > img{
    height:20em;
}

form > .form-row input {
    height: 3.5em;
}
button {
    /* font-size: 1.5em !important; */
    height: 3.5em !important;
    border: 1px solid #ff6700 !important;
    background-color: #ff6700 !important;
}

/* carousel */
.carousel img {
    height: 25em;
}

/* for card */
.card {
    color: #666666;
}
.card .salary {
    color: red;
}
.card-title > a {
    color: #666666;
}
.card-title > a:hover {
    color: #ff6700;
}
.card .card-footer > a:hover {
    color: #ff6700 !important;
}

/* for job list */
.jobTable {
    border: 1px solid #dcdcdc;
}
.jobTable ul {
    list-style-type: square;
}
.jobTable li > .company {
    color: #666666;
}
.jobTable li > a:hover {
    color: #ff6700;
}