/* main font color on nav */
nav a {
	color: #b0b0b0 !important;
}
.dropdown-menu {
	width: 7.5em;
	min-width: 7.5em !important;
}
/*  */
nav .dropdown-menu {
	background: #343a40;
}
/* main font color when mouse hovers on nav */
.navbar-nav > .nav-link:hover {
	color: #fff !important;
}
.dropdown > a:hover {
	color: #fff !important;
}
.dropdown-menu > a:hover {
	color: #fff !important;
	background: #343a40;
}
